*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}
*::-webkit-scrollbar {
  display: none;
}
.page{
  height: calc(100vh - calc(2rem + 5rem));
  width: 100vw;
  padding: 3rem;
  background-image: linear-gradient(to bottom right, #D43078 , #FFEF03);
}
button, input{
  outline: none;
}
.icons-author{
  height: 2rem;
  background-color: #010A0A;
  color: #E98B40;
  padding: 0.3rem;
}
.icons-author a{
  color: #fff;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 600px) {
  *{
    overflow-y:visible;
  }
  .page{
    height: fit-content;
    min-height: calc(100vh - calc(3rem + 5rem));
  }
  .icons-author{
    height: fit-content;
  }
}
