
nav{
  background-color: rgb(1, 10, 10);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}
.nav__logo{
  height: 3rem;
  width: 3rem;
}
.nav__logo-icon{
  height: 100%;
  width: 100%;
}
nav ul{
  width:calc(50% - 4rem) ;
  max-width: 15rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.nav__link{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__icon{
  height: 2.5rem;
  width: 2.5rem;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  nav ul{
    width: 75%;
  }
}