.page1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.page1__trans-forms{
  height: 100%;
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.page1_accept-msg{
  height: 100%;
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 600px) {
  
  .page1__trans-forms{
    flex-direction: column;
  }
  
}