.trans-form{
  height: 100%;
  width: 47%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #010A0A;
  color: #E98B40;
  border-radius: 20px;
  padding: 1.5rem;
}

.trans-form h2{
  padding-bottom: 1.5rem;
}
.trans-form_inputs{
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.trans-form_inputs input{
  width: 100%;
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 5px;
}
.trans-form_inputs label{
  width: 100%;
}

.trans-form button{
  margin-top: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  padding-top: 0.35rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 50%;
  background-color: transparent;
  border: #E98B40 3px solid;
  color: #E98B40;
  cursor: pointer;
}

.trans-form button:hover{
  background-color:#E98B40;
  color: #010A0A;
}

.trans-form .invalid-input-msg{
  margin-top: 1rem;
  color: #f81a73;
  font-size: 0.8rem;
  /* visibility: hidden; */
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 600px) {
  .trans-form{
    height: fit-content;
    width: 100%;
    margin: 2rem 0;
  }
  .trans-form_inputs,
  .trans-form_inputs{
    height: 20rem;
    width: calc(100% - 3rem);
  }
}