.trans-card__tr button{
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 20px;
  background-color: transparent;
  border: #010A0A 2px solid;
  color: #010A0A;
  cursor: pointer;
}

.trans-card__tr button:hover{
  background-color:#010A0A;
  color: #E98B40;
}